---
import yaml from 'yaml';
import Layout from '../layouts/HomeLayout.astro';
import Card from '../components/Card.astro';
import CurrencyTile from '../components/CurrencyTile.astro';
import siteInfo from '../data/site-info';
import type { Currency } from '../types/Currency';

const endpoint = 'https://raw.githubusercontent.com/Lissy93/currency-flags/master/data/currencies.yaml';

const currencies = await fetch(endpoint)
	.then((res) => res.blob())
	.then((blob) => blob.text())
	.then((text) => yaml.parse(text));

---

<script>
// Rudimentary live filter search
const filterInput = document.querySelector('.filter');
const listItems = document.querySelectorAll('.tile');
filterInput?.addEventListener('input', (e) => {
	const searchTerm = e.target.value.toLowerCase();
	listItems.forEach(item => {
		const itemName = item.textContent || item.innerText;
		if (itemName.toLowerCase().indexOf(searchTerm) > -1) {
			item.style.display = '';
		} else {
			item.style.display = 'none';
		}
	});
});

</script>

<Layout title="Currency Flags | Home">
	<main>
		<h1><span class="text-gradient">Currency Flags</span></h1>
		<p class="instructions">
			<i>
				A collection of flag icons, associated with world currencies.
				Consumable via a REST API, CDN, or NPM package.
			</i>
			<br>
			View the source, submit changes, or raise an issue at
			<strong><a href="https://github.com/lissy93/currency-flags">github.com/lissy93/currency-flags</a></strong><br>
		</p>
		<ul role="list" class="link-card-grid">
			{siteInfo.navigation.map((navItem) => (
				<Card
					href={navItem.path}
					title={navItem.title}
					body={navItem.description}
				/>
			))}
		</ul>
		<hr  id="supported-currencies" />
		<div class="currency-title-wrap">
			<h2>Supported Currencies</h2>
			<input type="text" placeholder="Search..." class="filter" />
		</div>
		<ul class="currencies">
			{currencies.map((currency: Currency) => (
				<CurrencyTile { ...currency } />
			))}
		</ul>
	</main>
</Layout>

<style lang="scss">
	html, body {
		background: #e9e9e9;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h1, h2 {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: var(--background-secondary);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong, .instructions a {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	hr {
		background-image: var(--accent-gradient-2);
		border-radius: var(--curve-factor);
		border: none;
		height: 0.15rem;
	}
	.currency-title-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	h2 {
		color: rgb(var(--accent));
		font-size: 2rem;
		margin: 0.75rem 0;;
	}
	.filter {
		border: 1px solid rgba(var(--accent), 25%);
		background-color: var(--background-secondary);
		padding: 0.5rem;
		border-radius: var(--curve-factor);
		&:focus {
			outline: none;
			border: 2px solid rgb(var(--accent));
		}
	}
	.currencies {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
		gap: 0.2rem;
		padding: 0;
	}
</style>
