---
import siteInfo from '../data/site-info';

export interface Props {
	title: string;
}

const { title } = Astro.props;
const url = siteInfo.baseUrl || 'https://lissy93.github.io/currency-flags';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || 'Currency Flags'}</title>
		<script defer data-domain={url} src="https://no-track.as93.net/js/script.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--accent-gradient-2: linear-gradient(45deg, rgb(var(--accent)) 50%, #da62c4 90%);
		--background: #e9e9e9;
		--background-secondary: #ffffff;
		--foreground: #111;
		--primary: rgb(124, 58, 237);
		--secondary: #c158cf;
		--curve-factor: 0.4rem;
	}
  ::selection {
    background: var(--primary);
    color: var(--background);
  }
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--background);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
